PORT=5000
NODE_ENV=development

# MongoDB
# MONGODB_URI=mongodb://localhost:27017/sellit
MONGO_URI=mongodb+srv://serviceXpress:desbully1@cluster0.yojdwqt.mongodb.net/serviceXpress?retryWrites=true&w=majority&appName=Cluster0


# JWT
JWT_SECRET=01b3572046f49be4248319d0b5fbba7167b3a8b02f55867dfcd516ab54c5a536fd79781358c6765b69fc3abcb37da2debea4fd626d27781b43ec7917fcb28d28
JWT_REFRESH_SECRET=447be784d2d4baa6cab417e74f9a362211b5010401617aabfa3ea1511eb6fae3c59eea9688edf2942a2fb7ce347999d2cd65c72ec27245288e8ed0525af3b74d
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d


# Cloudinary
# CLOUDINARY_CLOUD_NAME=your_cloud_name
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret

CLOUDINARY_URL=cloudinary://575669362127775:rqnF3qDq4R_AVXseC1wOz6Ae4EQ@duu0bfv8f
CLOUD_NAME=duu0bfv8f
CLOUD_API_KEY=575669362127775
CLOUD_SECRET_KEY=rqnF3qDq4R_AVXseC1wOz6Ae4EQ


# Paystack
# PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key
# PAYSTACK_PUBLIC_KEY=pk_test_your_paystack_public_key
PAYSTACK_SECRET_KEY=sk_test_6b9e570040a9afcfcfa568d15dd70abb70edadfa
PAYSTACK_PUBLIC_KEY=pk_test_aa312945cbd01ebb327cdbe672f1c4be6ab8be6a


EMAIL_USER=servixpress247@gmail.com
# EMAIL_PASSWORD=ikgv lxjd pmir enfx
EMAIL_PASSWORD=rwnn npzx oknm xktl
# FRONTEND_URL=https://servicexpress-tau.vercel.app
# # FRONTEND_URL=http://localhost:3000

# Frontend URL (for CORS)
FRONTEND_URL=https://sellit-6nyn.onrender.com

# Admin
ADMIN_REGISTRATION_CODE=SELLIT_ADMIN_2024

N
